
name: Test deploy

on:
  push:
    branches: [master]

jobs:
  build-and-deploy:
    name: Test develop


    runs-on: ubuntu-22.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v3.1.0
        
      - name: executing remote ssh commands using ssh key
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: "158.160.43.82"
          username: "gelios"
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: "22"
          script: |
            cd wear
            ls -la
#            docker run --name test -e POSTGRES_PASSWORD=test postgres:15.2-alpine3.17
        
#       - name: Check content
#         shell: bash
#         run: |
#           ls -la
        
#       - name: Build image
#         shell: bash
#         run: |
#           docker build -t testimage .
      
#       - name: Check image
#         shell: bash
#         run: |
#           docker images
          
#       - name: SSH to VM
#         shell: bash
#         run: |
#           echo ${{ secrets.SSH_PRIVATE_KEY }} >> ~/.ssh/testkey
#           chmod 600 ~/.ssh/testkey
#           ssh -i ~/.ssh/testkey gelios@158.160.43.82 ls wear
          
#         with:
#           token: "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"
#           ref: ${{github.event.inputs.git-tag}}
#           submodules: recursive
#           fetch-depth: 0
#         env:
#           GIT_SSH_KEY: ${{ secrets.GIT_SSH_KEY }}

#       - name: Workaround for ownership issue
#         run: |
#           git config --global --add safe.directory "$GITHUB_WORKSPACE"
#       - name: Update submodules
#         shell: bash
#         run: |
#           git submodule foreach '( if [ "$(basename $PWD)" = ".skaffold" ]; then git fetch;git checkout master; git pull; fi )'
